name: CI-CD
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout 
          uses: actions/checkout@v5
        
        - uses: actions/setup-python@v6
          with:
            python-version: '3.11' 
        
        - name: Install Dependencies
          working-directory: 02-encontros-tech
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        
        - name: Tests
          working-directory: 02-encontros-tech
          run: python -m pytest tests/ -v

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}    

          
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: ./02-encontros-tech
            push: true
            tags: digaomiranda/encontros-tech:v${{ github.run_number }}
            file: 02-encontros-tech/Dockerfile

  CD-homolog:
      runs-on: ubuntu-latest
      environment: homolog
      needs: [CI]
      steps:
          - name: Checkout
            uses: actions/checkout@v5

          - name: Kubernetes Set Context
            uses: azure/k8s-set-context@v4
            with:
              method: kubeconfig
              kubeconfig: ${{ secrets.KUBECONFIG }}          

          - name: Create namespace if not exists
            run: kubectl create namespace tech-homolog --dry-run=client -o yaml | kubectl apply -f -

          - name: Create secrets in homolog
            run: |
              kubectl create secret generic encontros-tech-secrets \
                --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL  }}" \
                --namespace=tech-homolog \
                --dry-run=client -o yaml | kubectl apply -f -

          - name: Deploy to Kubernetes Cluster
            uses: azure/k8s-deploy@v5
            with:
              namespace: default
              manifests: |
                02-encontros-tech/k8s/manifests.yaml
              images: |
                digaomiranda/encontros-tech:v${{ github.run_number }}
              strategy: basic
      

  CD-producao:
      runs-on: ubuntu-latest
      environment: producao
      needs: [CI]
      steps:
          - name: Checkout
            uses: actions/checkout@v5

          - name: Kubernetes Set Context
            uses: azure/k8s-set-context@v4
            with:
              method: kubeconfig
              kubeconfig: ${{ secrets.KUBECONFIG }}          

          - name: Create namespace if not exists
            run: kubectl create namespace tech-homolog --dry-run=client -o yaml | kubectl apply -f -

          - name: Create secrets in producao
            run: |
              kubectl create secret generic encontros-tech-secrets \
                --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL  }}" \
                --namespace=tech-producao \
                --dry-run=client -o yaml | kubectl apply -f -

          - name: Deploy to Kubernetes Cluster
            uses: azure/k8s-deploy@v5
            with:
              namespace: default
              manifests: |
                02-encontros-tech/k8s/manifests.yaml
              images: |
                digaomiranda/encontros-tech:v${{ github.run_number }}
              strategy: basic
      
              